// styles.scss (o tu archivo de estilos)

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px; 
}

ion-item {
  width: 100%; 
  margin-bottom: 16px; 
}

#contenedorImagen {
  width: 250px;
  height: auto;
}
#contenedorTitulo {
  font-weight: bold; 
}

#contenedorDescripcion {
  margin-top: 8px;
  display: flex;
  justify-content: space-between; 
  gap: 100px; 
  align-items: center;
}

#contenedorEliminar {
  --color: #ffffff; // Cambia el color del botón de eliminar según tus preferencias
}

#contenedorBoton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  --background: #3f68d8; // Cambia el color de fondo del botón según tus preferencias
  --color: #fff; // Cambia el color del texto del botón según tus preferencias
}

// Agrega cualquier otro estilo que necesites según tu diseño
